* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  body {
    color: #f2f2f2;
  }
  
  .container {
    display: flex;
    overflow-x: auto;
    height: 100%;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  section {
    flex-grow: 1;
    min-width: 100%;
  }
  
  .first {
    background: tomato;
  }
  
  .second {
    background: blue;
  }
  
  .third {
    background: orange;
  }
  
  .fourth {
    background: lemonchiffon;
  }
  