    .left {
        position: relative;
    }
    
    .right {
        position: relative;
        left: 150px;
    }
    
    .circle {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 8px;
        left: 8px;
        border: 3px solid black;
        border-radius: 50%;
    }
    
    .two {
        width: 260px;
        height: 260px;
        top: 28px;
        left: 28px;
        border-color: red;
    }
    
    .three {
        width: 220px;
        height: 220px;
        top: 48px;
        left: 48px;
    }
    
    .four {
        width: 180px;
        height: 180px;
        top: 68px;
        left: 68px;
    }
    
    .five {
        width: 140px;
        height: 140px;
        top: 88px;
        left: 88px;
    }
    
    .six {
        width: 100px;
        height: 100px;
        top: 108px;
        left: 108px;
    }
    
    .seven {
        width: 60px;
        height: 60px;
        top: 128px;
        left: 128px;
    }
    
    .eight {
        width: 20px;
        height: 20px;
        top: 148px;
        left: 148px;
    }
    