* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #f2f2f2;
}

.container {
    height: 100%;
}

.first {
    background: green;
    height: 100%;
}

.second {
    background: pink;
    height: 100%;
}

.third {
    background: lemonchiffon;
    height: 100%;
}

.fourth {
    background: tomato;
    height: 100%;
}
